thead{
 background-color: #5E5563;
 color: white;
}
.Cyan{
  background-color: #8AC2C2;
}
.Blue{
  background-color: #8AACC2;
}
.Purple{
  background-color: #8D8AC2;
}
.Purples{
  background-color: #8D8AC2;
  float: right;
}
.Pink{
  background-color: #AD8AC2;
}
